backports.tarfile==1.2.0
dash-daq==0.6.0
dgl==2.1.0
dill==0.3.9
einops==0.8.1
hyperopt==0.2.7
jaraco.collections==5.1.0
matplotlib==3.10.1
nvidia-cusparselt-cu12==0.6.2
pandas==2.2.3
pip-chill==1.0.3
platformdirs==4.2.2
pyarrow==19.0.1
pydantic==2.11.3
ray==2.44.1
scikit-learn==1.6.1
tensorboard==2.19.0
tensorboardx==2.6.2.2
tomli==2.0.1
torchdiffeq==0.2.5
torch==2.3.1
triton==3.2.0
